/node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
homeblack/*
services/*
envios/*
services/
servicesLimpio/
homeblack
composer.lock
vendor
composer.lock
.env
dev.ulala.sublime-project
dev.ulala.sublime-workspace
qas.sublime-project
qas.sublime-workspace